/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/_type.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.25;
}

/* line 8, ../sass/_type.scss */
strong {
  font-weight: bold;
}

/* line 12, ../sass/_type.scss */
h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

/* line 17, ../sass/_type.scss */
h1 {
  font-size: 4em;
}

/* line 21, ../sass/_type.scss */
h2 {
  font-size: 2em;
}

/* line 24, ../sass/_type.scss */
h3 {
  font-size: 1em;
}

/* line 28, ../sass/_type.scss */
.green {
  color: greens;
}

/* line 14, ../sass/screen.scss */
body {
  zoom: 1;
  max-width: 75.99879em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
body:after {
  clear: both;
}

/* line 21, ../sass/screen.scss */
a, a:visited, a:active {
  color: black;
}

/* line 25, ../sass/screen.scss */
.main-container {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 55, ../sass/neat/grid/_grid.scss */
.main-container:last-child {
  margin-right: 0;
}
/* line 29, ../sass/screen.scss */
.main-container header {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 55, ../sass/neat/grid/_grid.scss */
.main-container header:last-child {
  margin-right: 0;
}
/* line 35, ../sass/screen.scss */
.main-container header h2 {
  font-weight: 100;
}
/* line 39, ../sass/screen.scss */
.main-container header nav {
  display: block;
  margin-top: 20px;
}
/* line 43, ../sass/screen.scss */
.main-container header nav a {
  text-decoration: none;
}
/* line 46, ../sass/screen.scss */
.main-container header nav li {
  float: left;
  margin-right: 20px;
  padding: 10px 20px;
  background: grey;
}
/* line 55, ../sass/screen.scss */
.main-container .main {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 55, ../sass/neat/grid/_grid.scss */
.main-container .main:last-child {
  margin-right: 0;
}
/* line 59, ../sass/screen.scss */
.main-container footer {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  display: block;
  text-align: center;
}
/* line 55, ../sass/neat/grid/_grid.scss */
.main-container footer:last-child {
  margin-right: 0;
}

/* line 68, ../sass/screen.scss */
.blocks li {
  position: absolute;
  background: lightgrey;
  display: block;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
/* line 86, ../sass/screen.scss */
.blocks li article {
  position: absolute;
  width: 100%;
}
/* line 90, ../sass/screen.scss */
.blocks li article header {
  position: relative;
  float: left;
}
/* line 94, ../sass/screen.scss */
.blocks li article header h2 {
  font-size: 1.4em;
  font-weight: 300;
  font-style: italic;
}
/* line 104, ../sass/screen.scss */
.blocks li .info {
  padding: 10px;
  position: relative;
  float: left;
  clear: both;
}
/* line 110, ../sass/screen.scss */
.blocks li .info li {
  background: none;
}
/* line 115, ../sass/screen.scss */
.blocks li .options {
  background: rgba(0, 0, 0, 0.8);
  height: 100px;
  width: 100%;
  margin-top: 40px;
  display: none;
}
/* line 123, ../sass/screen.scss */
.blocks li #graph {
  width: 500px;
  height: 600px;
  margin-left: -30px;
  margin-top: -40px;
}
/* line 131, ../sass/screen.scss */
.blocks li .corner {
  position: absolute;
  z-index: 20;
  right: -50px;
  top: 10px;
  text-align: center;
  width: 150px;
  padding: 2px 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  -moz-transform: rotate(45deg);
  /* FF3.5+ */
  -o-transform: rotate(45deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(45deg);
  /* Saf3.1+, Chrome */
  transform: rotate(45deg);
  /* CSS3 (for when it gets supported) */
  cursor: default;
}
/* line 149, ../sass/screen.scss */
.blocks li .corner:hover {
  background: black;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  color: rgba(255, 255, 255, 0.5);
}
/* line 157, ../sass/screen.scss */
.blocks li:hover {
  background: pink;
}
/* line 163, ../sass/screen.scss */
.blocks li.expanded {
  width: 650px;
  height: 420px;
  background: pink;
}
/* line 169, ../sass/screen.scss */
.blocks li.expanded .corner {
  padding: 8px;
  font-weight: bold;
  font-size: 2em;
  top: 0;
}
/* line 177, ../sass/screen.scss */
.blocks li.expanded article h2 {
  position: relative;
  float: left;
  font-size: 2.4em;
  font-weight: 600;
  font-style: italic;
}
